
body {
    background-image: url("https://external-preview.redd.it/Ky6rI3puxwvdidshWwXsIt6kqc2nFmNd7KKuvjumDTs.jpg?auto=webp&s=998cbe188fef66dd4e3ee6a03c064ba903d6694d");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  *{
    font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;

  }
  header{
    background-color: rgba(96, 96, 96, 0.7);
    width:100%;
    height:100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  footer{
    width:100%;
    height:100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header h1{
    color: white;
  }
    

  .card-container{
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    clear: left;
    border: 1px white solid;
    background-color: rgb(0, 0, 0,0.7);
  }
  .card-container:first-child{
    margin-top: 0px;
    background-color: rgb(255, 0, 0);
  }
  .card-container:last-child{
    margin-bottom: 0px;
    border-color: yellow;
  }
  .card-container:nth-child(2){
    margin: 1rem auto;
    background-color: greenyellow;
  }

  .card{
    padding: 5px 10px;
    width: 350px;
    height: auto;
    margin: 10px;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    background-color: white;
  }
   .card h1{
    display: flex;
    width: auto;
    margin: 25px 0px;
    vertical-align: middle;
    justify-content: center;
   }
   .card img{
    height: 500px;
    width: 300px;
    float: none;
    object-fit: cover;
  }
  .card:first-child:hover{
    background-color: black;
    color: #fff;
  }
  .card:last-child:hover{
    background-color: cyan;
    color: rgb(0, 0, 0);
  }
  .card:nth-child(2):hover{
    background-color: rgb(224, 16, 16);
    color: #fff;
  }
  .card p{
    font-size: 1rem;
  }
  .card p::first-letter{
    font-size: 2rem;
    font-weight: bold;
  }
  
  .button {
    background-color: aquamarine;
    border: none;
    border-radius: 1rem;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 8px;
    cursor: pointer;
  }

  .card-container:first-child .card:nth-child(2):hover{
    background-color: gray;
  }
  .card-container:last-child .card:first-child:hover{
    background-color: yellow;
    color: darkslateblue;
  }