html {
    height: 100%;
}
body {
    background-image: url("https://external-preview.redd.it/Ky6rI3puxwvdidshWwXsIt6kqc2nFmNd7KKuvjumDTs.jpg?auto=webp&s=998cbe188fef66dd4e3ee6a03c064ba903d6694d");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
  }

  header{
    background-color: rgba(96, 96, 96, 0.7);
    width:100%;
    height:20%;
    position:absolute;
    top:0;
    left:0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header h1{
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  }
  
  .card-container{
    display: flex;
    justify-content: center;
  }

  .card-container:first-child{
    margin-top: 0px;
  }
  .card-container:last-child{
    margin-bottom: 0px;
  }
  .card-container:nth-child(2){
    margin-top: 1rem auto;
  }

  .card{
    padding: 5px 10px;
    width: 350px;
    height: auto;
    margin: 10px;
    border-radius: 15px;
    justify-content: center;
    background-color: white;
  }
   .card .title{
    display: flex;
    height: 75px;
    width: auto;
    margin: 25px 0px;
    vertical-align: middle;
    justify-content: center;
   }