body {
    background-image: url("https://external-preview.redd.it/Ky6rI3puxwvdidshWwXsIt6kqc2nFmNd7KKuvjumDTs.jpg?auto=webp&s=998cbe188fef66dd4e3ee6a03c064ba903d6694d");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }