
table {
  width: 100%;
}
mat-form-field {
  .mat-hint, input, ::placeholder, .mat-form-field-label {
     color: black;
  }
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: black;
}
