.row{
  display: flex;
  justify-content: left;
}
.card{
  margin: 25px 10px 0px 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem 2rem;
}
.tengah{
  display: flex;
  align-items: center;
}
p{
  text-align: center;
}
.flex-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
